<ng-template appPlaceholder></ng-template>
<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <div class="text-center">
      <loading-spinner *ngIf="isLoading"></loading-spinner>
    </div>
    <!-- <div class="alert alert-danger text-center" *ngIf="error && !isLoading">
      {{ error }}
    </div> -->
    <!-- <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert> -->
    <form (ngSubmit)="onSubmit(authForm)" #authForm="ngForm" *ngIf="!isLoading">
      <div class="form-group">
        <label name="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          email
          required
        />
      </div>
      <div class="form-group">
        <label name="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          minlength="6"
          required
        />
      </div>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!authForm.valid"
      >
        {{ isLogin ? "Login" : "Sign Up" }}
      </button>
      |
      <button class="btn btn-primary" type="button" (click)="onSwitchToView()">
        Switch to {{ isLogin ? "Sign up" : "Login" }}
      </button>
    </form>
  </div>
</div>
